<app-git-info></app-git-info>
<div class="container text-center" style="padding: 0px;">
  <div class="jumbotron jumbotron-fluid">
    <h1>GitHub API</h1>
  </div> 
  <div class="row col-md-12" style="text-align: center; width: 100%;">
    <blockquote class="blockquote text-center" style="padding: 15px;">
      <img src="{{profileInfo.avatar_url}}">
      <p class="mb-0" style="padding: none; margin: none; border:none;">Username: {{ profileInfo.login }}</p>
      <footer class="blockquote-footer"><cite>My name is: {{ profileInfo.name }} From: {{ profileInfo.location }}</cite></footer>
      <p>Checkout my portfolio blog here: <a href="{{profileInfo.blog}}">{{profileInfo.blog}}</a></p>
      <p>Current working status: {{profileInfo.company}}</p>
      <p>Bio: {{profileInfo.bio}}</p>
      <p>Number of public repos: {{profileInfo.public_repos}}</p>
      <p>Number of public gists: {{profileInfo.public_gists}}</p>
    </blockquote>
  </div>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <h1>Repos Listing</h1>
    </div>
    <div>
      <ul>
        <li class="info">
          <p>Check<span class="one">{{myRepos}}</span></p>
        </li>
        <li class="info">
          <p>Check<span class="one">{{myRepos.id}}</span></p>
        </li>
        <li class="info">
          <p>Check<span class="one">{{myRepos.name}}</span></p>
        </li>
        <li class="info">
          <p>Check<span class="one">{{myRepos.description}}</span></p>
        </li>
        <li class="info">
          <p>Check<span class="one">{{myRepos.forks}}</span></p>
        </li>
        <li class="info">
          <p>Check<span class="one">{{myRepos.size}}</span></p>
        </li>
      </ul>
    </div>
  </div>
</div>

      
